<section class="blog">
    <div class="container-big">
        <div class="blog__wrapper">
            <div class="container">
                <h2 class="blog__title">Recent blog posts</h2>
                <div class="blog__items">
                    <div class="blog__item-big">
                        <img src="./assets/images/blog-item-1.jpg" alt="" class="blog__item-img" />
                        <div class="blog__item-box">
                            <div class="blog__item-info text--color">
                                <a href="#" class="blog__item-link"> Agroton • 20 Jan 2025 </a>
                            </div>
                            <a href="#" class="blog__item-titlelink">
                                <h4 class="blog__item-title">Agroton expands sown areas</h4>
                            </a>
                            <p class="blog__item-text">
                                This year we increased sown areas by 10%, which will allow us to
                                increase the production of grain and oilseed crops.
                            </p>
                        </div>
                    </div>
                    <div class="blog__item-small">
                        <img src="./assets/images/blog-item-2.jpg" alt="" class="blog__item-img" />
                        <div class="blog__item-box">
                            <div class="blog__item-info text--color">
                                <a href="#" class="blog__item-link"> Agroton • 20 Jan 2025 </a>
                            </div>
                            <a href="#" class="blog__item-titlelink">
                                <h4 class="blog__item-title">Export to a new country!</h4>
                            </a>
                            <p class="blog__item-text">
                                We entered the market of [country name] and expanded the geography
                                of supplies of quality Ukrainian products.
                            </p>
                        </div>
                    </div>
                    <div class="blog__item-small">
                        <img src="./assets/images/blog-item-3.jpg" alt="" class="blog__item-img" />
                        <div class="blog__item-box">
                            <div class="blog__item-info text--color">
                                <a href="#" class="blog__item-link"> Agroton • 20 Jan 2025 </a>
                            </div>
                            <a href="#" class="blog__item-titlelink">
                                <h4 class="blog__item-title">
                                    Modern technologies in livestock farming
                                </h4>
                            </a>
                            <p class="blog__item-text">
                                Agroton has implemented innovative systems for feeding and caring
                                for livestock, which improves product quality.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
