<footer class="footer" id="contact">
    <div class="container">
        <div class="footer__top">
            <a href="" class="footer__logo"><img src="./assets/images/logo-black.png" alt="" /></a>
            <div class="footer__element">
                <p class="footer__title">Navigation</p>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Products</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Partners</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Blog</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="footer__element">
                <p class="footer__title">Information</p>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Customer Support</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Delivery Details</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Terms of cooperation</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Guarantees</a>
                    </li>
                </ul>
            </div>
            <div class="footer__element">
                <p class="footer__title">Contacts</p>
                <ul class="footer__list">
                    <li class="footer__item">
                        <address class="footer__item-adress">
                            Ukraine, Kyiv, ul. Ilyinskaya 8
                        </address>
                    </li>
                    <li class="footer__item">
                        <a href="mailto:au.gl.notorga@ofni" class="footer__link"
                            >au.gl.notorga@ofni
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="tel:+380982563265" class="footer__link">+380 98 256 32 65 </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="footer__bottom">
            <li class="footer__bottom-item">
                <p class="footer__copy">2010 Agroton © All rights reserved.</p>
            </li>
            <li class="footer__bottom-item">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="footer__bottom-item">
                <a href="#">Offer contract</a>
            </li>
        </ul>
    </div>
</footer>
