<section class="partners">
    <div class="container">
        <div class="partners__inner">
            <div class="partners__info">
                <h3 class="partners__info-title">
                    Agroton is a reliable supplier of agricultural products
                </h3>
                <p class="partners__info-text">
                    We cooperate with processors, distributors and retail chains, ensuring stable
                    supplies and high quality standards.
                </p>
                <a href="#" class="btn"
                    >Contact us <img src="./assets/images/arrow54_54.svg" alt="Arrow button"
                /></a>
            </div>
            <div class="partners__box">
                <div class="partners__box-top">
                    <ul class="partners__box-list">
                        <li class="partners__box-item">
                            <span class="text--color">Direct deliveries</span>
                            of products from the manufacturer
                        </li>
                        <li class="partners__box-item">
                            <span class="text--color">Guaranteed</span>
                            traceability and certification
                        </li>
                        <li class="partners__box-item">
                            <span class="text--color"> Individual </span>
                            approach to each partner
                        </li>
                    </ul>

                    <img src="./assets/images/partners-top.png" alt="" />
                </div>

                <p class="partners__box-tetx">
                    <span class="text--color"> We value </span>
                    long-term relationships and are open to new opportunities for cooperation!
                </p>
            </div>
        </div>
    </div>
</section>
