<section class="products" id="products">
    <div class="container-big">
        <div class="products__wrapper">
            <div class="container">
                <div class="product__inner">
                    <h2 class="products__title">High quality agricultural products</h2>
                    <ul class="products__list">
                        <li class="product__item">
                            <a href="#">
                                <div class="text-container">
                                    <img src="./assets/images/e.png" alt="Cereal crops" />
                                    <h3 class="product__item-title">Cereal crops</h3>
                                </div>
                                <p class="product__item-text">(wheat, barley, corn)</p>
                                <div class="product__item-div">
                                    <img src="./assets/images/btn_arrow.svg" alt="Arrow" />
                                </div>
                            </a>
                        </li>
                        <li class="product__item">
                            <a href="#">
                                <div class="text-container">
                                    <img src="./assets/images/sunflower.png" alt="sunflower" />
                                    <h3 class="product__item-title">Oilseeds</h3>
                                </div>
                                <p class="product__item-text">(sunflower, rapeseed, soybean)</p>
                                <div class="product__item-div">
                                    <img src="./assets/images/btn_arrow.svg" alt="Arrow" />
                                </div>
                            </a>
                        </li>
                        <li class="product__item">
                            <a href="#">
                                <div class="text-container">
                                    <img src="./assets/images/milk.png" alt="milk" />
                                    <h3 class="product__item-title">Dairy products</h3>
                                </div>
                                <p class="product__item-text">(milk, dairy products)</p>
                                <div class="product__item-div">
                                    <img src="./assets/images/btn_arrow.svg" alt="Arrow" />
                                </div>
                            </a>
                        </li>
                        <li class="product__item">
                            <a href="#">
                                <div class="text-container">
                                    <img src="./assets/images/bread.png" alt="bread" />
                                    <h3 class="product__item-title">Bakery products</h3>
                                </div>
                                <p class="product__item-text">(bread, pastries)</p>
                                <div class="product__item-div">
                                    <img src="./assets/images/btn_arrow.svg" alt="Arrow" />
                                </div>
                            </a>
                        </li>
                        <li class="product__item">
                            <a href="#">
                                <div class="text-container">
                                    <img src="./assets/images/chicken.png" alt="image chicken" />
                                    <h3 class="product__item-title">Poultry farming</h3>
                                </div>
                                <p class="product__item-text">(chicken, eggs)</p>
                                <div class="product__item-div">
                                    <img src="./assets/images/btn_arrow.svg" alt="Arrow" />
                                </div>
                            </a>
                        </li>
                        <li class="product__item">
                            <a href="#">
                                <div class="text-container">
                                    <img
                                        src="./assets/images/vegetables.png"
                                        alt="image vegetables"
                                    />
                                    <h3 class="product__item-title">Vegetables and fruits</h3>
                                </div>
                                <p class="product__item-text">(if available in production)</p>
                                <div class="product__item-div">
                                    <img src="./assets/images/btn_arrow.svg" alt="Arrow" />
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product__link btn"
                        >See catalog <img src="./assets/images/arrow54_54.svg" alt="Arrow button"
                    /></a>
                </div>
            </div>
        </div>
    </div>
</section>
